body {
  margin: 0 auto;
  padding: 1em;
  font-size: 15px;
  font-family: Helvetica;
  background: #161616;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/57/6e/18/576e1825ab0a1eb6b47c9a94e8c41534.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: lighter;
  width: 90%;
  height: 100vh;
  color: white;
}

a, a:visited{
  color: inherit;
  text-decoration: none;
}

#name{
  font-family: Montserrat;
  font-size: 20px;
}

.container{
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
  max-width: 70%;
}

.content{
  width: 60%;
  position: relative;
  text-align: center;
}

.panel{
 display: none;
 padding:10px;
 width: 100%;
}

.main {
  padding: 10px;
  max-width: 80%;
  height:auto;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: left;
}

.list-group {
  width: 100%;
  margin-bottom: 20px;
  padding-left: 0;
  text-decoration: none;
  font-family: Advent Pro;

}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid #ddd;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

a.list-group-item,button.list-group-item {
  color: #555;
}

a.list-group-item .list-group-item-heading,button.list-group-item .list-group-item-heading {
  color: #333;
}

a.list-group-item:hover,button.list-group-item:hover,a.list-group-item:focus,button.list-group-item:focus {
  text-decoration: none;
  color: #555;
  background-color: #f5f5f5;
}

.buttons{
  position: absolute;
  display: flex;
  flex-flow: column;
  width: auto;
  padding: 1em;
  border-top: .1em solid black;
}

.pic{
  position:relative;
  border-radius: 50%;
  width: 150px;
  float: left;
  padding: 30px;
}

.title{
  font-size: 40px;
  font-height: 3px;
  font-family: Advent Pro;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 5%;
  width: 100%;
  font-size: 12px;
}
